@using FamApp.ViewModels
@model ChatViewModel

<h2>@Model.Name</h2>

<div id="chat-message">
    @if (Model.Messages != null && Model.Messages.Count != 0)
    {
        @foreach (var message in Model.Messages)
        {
        <p>
            <span>@message.Sender</span>
            <strong>@message.Content</strong>
            <i>@message.SentAt</i>
        </p>
        }
    }
</div>

<input type="text" id="messageInput" placeholder="Zpráva" />
<button class="btn btn-primary" onclick="sendMessage()">Odeslat</button>

<script src="~/js/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

    connection.start().then(function () {
        connection.invoke("JoinChat", "@Model.Id");
    }).catch(function (err) {
        console.error("SignalR připojení selhalo", err);
    });


    connection.on("ReceiveMessage", function (sender, content) {
        var msg = `<p><strong>${sender}:</strong> ${content}</p>`;
        $("#chat-message").append(msg);
    });

    connection.onclose(function (error) {
        if (error) {
            console.error('Chyba při ukončení připojení: ', error);
        } else {
            console.log('Připojení bylo uzavřeno.');
        }
    });

    function sendMessage() {
        var content = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", @Model.Id, "@User.Identity.Name", content);
    }
</script>
