@using FamApp.ViewModels
@model ChatViewModel

<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>


<div class="container px-0  mx-0 message-box">
    <input type="hidden" id="foreign-chat-color" value="@Model.Color" />

    <div class="message-box-header">
        <div class="row">
            <div class="col">
                <h2>@Model.Name</h2>
            </div>
            <div class="col-auto delete-chat">
                <form asp-action="DeleteChat" method="post" onsubmit="return confirm('Opravdu chcete smazat tento chat?');">
                    <input type="hidden" name="chatId" value="@Model.Id" />
                    <button type="submit" class="btn delete-chat-btn" data-color="@Model.Color">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div id="messages">
    </div>

    <div id="message-input" class="row">
        <div class="col">
            <input type="hidden" id="chatId" value="@Model.Id" />
            <input class="message-text" type="text" id="messageInput" placeholder="Zpráva" />
        </div>
        <div class="col-auto send-button">
            <button id="send-button" class="btn" type="button" onclick="sendMessage()" style="background: @Model.Color">Odeslat</button>
        </div>
    </div>
</div>

<script>
    window.currentUser = "@Model.CurrentUser"
</script>
<script>
    document.querySelectorAll(".delete-chat-btn").forEach(button => {
        const chatColor = button.getAttribute("data-color");
        button.style.setProperty("--chat-color", chatColor);
    });
</script>